@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

$color-blue: #0d2136;
$color-orange-light: #fdb59f;
$color-orange-dark: #cd7778;
$color-white1: #f4f6f6;
// $color-white1: #d7d7d7;
$color-black1: #333333;
$color-inactive: #a4a4a4;
$color-between: #d7d7d7;
$color-available: rgb(119, 214, 119);
$color-unavailable: rgb(243, 86, 86) ; 
*{
  font-family: 'Montserrat', sans-serif;
}
#reserva-spa{
  // display: none;
  font-size:  1rem;
}
//------ MONTHLY CALENDAR ------
.wrapper-spa{
  // background-color: white;
  padding: 0;
  width: 22rem;
  // border: solid 1px red;
}
.wrapper-spa header{
  display: flex;
  align-items: center;
  // padding: 25px 30px 10px;
  justify-content: space-between;
}
header .displayed-date-spa{
  font-size: 1.45rem;
  font-weight: 500;
  letter-spacing: .1rem;
  margin-top: 1rem;
}
.calendar-spa{
  // padding: 13px;
  margin-left: -2.3rem;
}
.calendar-spa .days-spa{
  margin-bottom: 0rem;
}
.calendar-spa .weeks-spa li{
  font-weight: 500;
}
.calendar-spa ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}
.calendar-spa .days-spa li{
  z-index: 1;
  cursor: pointer;
  margin-top: 16px;
}
.calendar-spa ul li{
  position: relative;
  width: calc(100% / 7);
  // height: 1.3rem;
}

// .calendar-spa .days-spa li{
//   height: .5rem;
// }
.calendar-spa .days-spa li::before{
  position: absolute;
  content: "";
  height: 2.5rem;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  background-color: $color-white1;
}
// .days-spa li.curr-day-spa{
//   background-color: $color-blue;
//   opacity:30%;
//   color: red;
// }
.days-spa li.available::before{
  background-color: $color-available;
}
.days-spa li.unavailable::before{
  background-color: $color-unavailable;
}
.days-spali.selected-day::before{
  background-color: $color-orange-light;
}
.days-spa li.selected-block::before{
  background-color: $color-orange-light;
}
.days-spa li.inactive{
  color: $color-inactive;
}
//------ DAYLY CALENDAR ------
.blocks-spa{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
  width: 10rem;
  height: 100%;
  // background-color: red;
}
.blocks-spa li{
  position: relative;
  // width: 100%;
  height: calc(100% / 11);
  cursor: pointer;
  // border: solid 1px red;
  text-align: center;
  background-color: $color-white1;
}