@use "theme" as t;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');



*{
  font-family: 'Montserrat', sans-serif;
}
//------ FORM RESERVAR ------
#reserva{
  padding-bottom: 2rem;
  // display: none;
  font-family: 'Montserrat', sans-serif;
}

#reserva form{
  margin: 1rem 0;
}
.grupo-reserva{
  width: 16rem;
  background-color: t.$color-white1;
  cursor:pointer;
}
.grupo-reserva input{
  border: none;
  background-color: inherit;
  cursor: pointer;
}

#roomType{
  width: 100%;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
#roomType option{
  text-align: center;
}
#roomType:focus{
  box-shadow: none;
}
.grupo-reserva input:focus{
  outline: none;
}
.grupo-reserva input::placeholder{
  color: t.$color-blue
}
.grupo-reserva label{
  cursor: pointer;
  color: t.$color-blue;
}
//------ INF. ESTADIA ------
.informacion-estadia{
  margin: 0;
  color: t.$color-blue;
  font-size: .7rem;
  align-content: center;
}
.informacion-estadia span{
  font-size: 1.2rem;
  font-weight: 500;
}
.informacion-estadia{
  background-color: t.$color-white1;
}
.informacion-estadia .regular{
  font-size: .8rem;
}
//------ BTN CONTINUAR ------
.btn-continuar{
  background-color: t.$color-white1;
  border: none;
  width: 17rem;
  height: 4rem;
  border-radius: 0;
  color: t.$color-blue;
  align-self: center;
  opacity: 100%;
}
.btn-continuar:hover{
  background-color: t.$color-white1;
}
.btn-continuar:disabled{
  background-color: t.$color-white1;
}
//------ IMAGEN ROOM TYPE ------
#carousel-reserva img{
  height: inherit;
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin: 0;  
}
#carousel-reserva .carousel-item{
  padding: 0;
}
.carousel-item{
  height: 350px;
}
#carousel-reserva{
  height: 350px;
  width: 100%;
  // object-fit: cover;
  // object-position: center;
  visibility: hidden;
}
//------ CALENDAR ------
.wrapper{
  // width: 27.8rem;
  width: 22rem;
}
//--- Header---
.wrapper header{
  display: flex;
  align-items: center;
  // padding: 25px 30px 10px;
  justify-content: space-between;
}
header .displayed-date{
  font-size: 1.45rem;
  font-weight: 500;
  letter-spacing: .1rem;
  margin-top: 1rem;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  text-align: center;
  line-height: 38px;
  cursor: pointer;
  color: t.$color-blue;
  font-size: 1.9rem;
}
header .icons span:hover{
  color: t.$color-orange-light;
}
header .icons span:last-child{
  margin-right: -10px;
}
//--- Calendar numbers ---
.calendar{
  // padding: 13px;
  margin-left: -2.3rem;
}
.calendar .days{ 
  margin-bottom: 0rem;
  // margin-left: -2.3rem;
}
// .calendar .weeks{
  
//   margin-left: -2.3rem;
// }
.calendar .weeks li{
  font-weight: 500;

}
.calendar ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;

}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  margin-top: 16px;
}
.calendar ul li{
  position: relative;
  width: calc(100% / 7);
}
.calendar .days li::before{
  position: absolute;
  content: "";
  height: 2.5rem;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  background-color: t.$color-white1;
}
// .days li.curr-day::before{
//   background-color: $color-blue;
//   opacity: 30%;
// }
.days li.between-dates::before{
  background-color: t.$color-between;
}
.days li.available::before{
  background-color: t.$color-available;
}
.days li.unavailable::before{
  background-color: t.$color-unavailable;
}

.days li.check-in-date::before, .days li.check-out-date::before{
  background-color: t.$color-orange-light;
}
// .days li.between-active::before{
//   background-color: $color-orange-light;
// }
.days li.inactive{
  color: t.$color-inactive;
}
