@use "theme" as t;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

*{  
  font-family: 'Montserrat', sans-serif;
}
body{
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  width: 100%;
}
//------ SCROLLBAR ------

// ::-webkit-scrollbar{
//   width: 10px;
// }
// ::-webkit-scrollbar-thumb{
//   background: $color-orange-light;
// }
// ::-webkit-scrollbar-track-piece{
//   background: $color-blue;
// }
// ::-webkit-scrollbar-button{
//   background: $color-blue;
// }
//------ RESPONSIVIDAD ------
@media(max-width: 991px){
  .nav-link{
    color: t.$color-black1;
    padding-left: .5rem;
  }
  .nav-link.active{
    color: t.$color-black1 !important;
    border-left: solid 2px t.$color-orange-dark;
  }
  .text-hero{
    margin-top: -40%;
    font-size: .8rem;
  }
  #btn-reservar{
    margin-top: 2rem;
  }
}
@media(min-width: 992px){
  .nav-link{
    color: t.$color-white1;
    font-size: .8rem;
    margin: 0 1rem;
    letter-spacing: .1rem;
  }
  .nav-link.active{
    border-bottom: solid 2px t.$color-orange-dark;
  }
  .text-hero{
    font-size: 1.3rem;
    margin-top: -300px;
  }
  #btn-reservar{
    margin-top: 5rem;
  }
}
//------ NAVBAR ------
.nav-link:hover{
  color: t.$color-orange-light;
}
.navlink.active.collapsed{
  border: solid 2px t.$color-orange-dark;
}
.navbar-brand{
  color: t.$color-white1;
  letter-spacing: .2rem;
  font-size: 1.4rem;
  padding-left: 1rem;
  font-weight: 600;
}
.navbar-brand:hover{
  color: t.$color-white1;
}
.navbar-collapse{
  margin-left: auto;
}
.offcanvas{
  background-color: t.$color-white1;
  color: t.$color-blue;
}
.navbar-filled{
  background-color: t.$color-blue;
  color: t.$color-white1;
}
//------ HERO ------
video{
  width: 100%;
  height: auto;
  max-height: 600px;
  object-fit: cover;
  object-position: bottom ;
  margin: 0;
}
.text-hero{
  font-weight: 700;
  letter-spacing: .2rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  color: t.$color-white1;
}
//------ FOOTER ------
footer{
  background-color: t.$color-blue;
  margin-top: 5rem;
  padding: 5rem;
  color:t.$color-white1;
}
footer a{
  text-decoration:none;
  color: t.$color-white1;
  margin:0 0 1rem;
}
footer a:hover{
  color: t.$color-orange-light;
}
#direccion:hover{
  color: t.$color-orange-light;
  cursor: pointer;
}
.name-footer{
  letter-spacing: .2rem;
  font-size: 2rem;
  font-weight: 600;
}
//------ SECCIONES ------
.seccion{
  padding: 5rem 0 3rem 0;
  margin: 3rem auto;
}
section p{
  font-size: .9rem;
  text-align: justify;
}
.title-section{
  text-align: center;
  font-size: 1.8rem;
  letter-spacing: .2rem;
  margin-bottom: 4rem; 
}
.image-wrapper img{
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.img-wrapper-3 img{
  height: 150px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
#servicios{
  margin-top: 3rem;
}
.title a{
  letter-spacing: .2rem;
  text-decoration: none;
  color: t.$color-black1;
}
.carta p{
  font-size: .8rem;
  text-align: justify;
}
//------ COLORS DECORATIONS ------
.orange{
  background-color: t.$color-orange-light;
  opacity: 60%;
}
.blue{
  background-color: t.$color-blue;
  opacity: 15%;
}
.white{
  background-color: t.$color-white1;
}
//------ ALOJAMIENTO MODAL ------
#alojamiento{
  background-color: t.$color-blue;
}
#alojamiento .modal-content{
  background-color: t.$color-blue;

}
//------ MENSAJE REMODELACION ------
#remodelacion .modal-content{
  background-color: t.$color-blue;
  color: t.$color-white1;
  border-radius: 0;
  opacity: 80%;
}
#remodelacion .modal-header{
  border-bottom: none;
}
#remodelacion .modal-header button{
  background-color: t.$color-blue;
  color: t.$color-white1;
  border: 1px solid t.$color-white1;
  height: 1.6rem;
  width: 1.6rem;
}
#remodelacion .modal-body{
  font-size: .9rem;
}
#remodelacion .modal-footer{
  border-top: none;
  justify-content: center;
}
#remodelacion .modal-footer button{
  background-color: t.$color-blue;
  color: t.$color-white1;
  border: solid 1px t.$color-white1;
  border-radius: 0;
  opacity: 100%;
  // width: 5rem;
}
//------ FORM DATOS RESERVAR -----
#myModal2{
  //#1a1a1c
  background-color: t.$color-blue;
}
#myModal2 .modal-content{
  background-color: t.$color-blue;
  color: t.$color-white1;
  border-radius: 0;
  opacity: 90%;
}
#myModal2 .modal-header{
  border-bottom: none;
}
#myModal2 .modal-header button{
  background-color: t.$color-blue;
  color: t.$color-white1;
  border: 1px solid t.$color-white1;
  height: 1.6rem;
  width: 1.6rem;
}

#myModal2 .modal-footer{
  border-top: none;
  justify-content: center;
}
#myModal2 .modal-footer button{
  background-color: t.$color-blue;
  color: t.$color-white1;
  border: solid 1px t.$color-white1;
  border-radius: 0;
  opacity: 100%;
}
#myModal2 input{
  background-color: t.$color-blue;
  color: t.$color-white1;
  border: 1px solid t.$color-orange-light;
  border-radius: 0;
  opacity: 100%;
}
#myModal2 input:focus{
  box-shadow: none;
  border: solid 2px t.$color-orange-dark;
}
#myModal2 textarea{
  background-color: t.$color-blue;
  color: t.$color-white1;
  border: 1px solid t.$color-orange-light;
  border-radius: 0;
}
#myModal2 textarea:focus{
  border: 2px solid t.$color-orange-dark;
  box-shadow: none;
}
//------ BTN RESERVA -------
.btn-reservar{
  opacity: 90%;
}
.btn-reservar, .btn-reservar:hover{
  background-color: t.$color-white1;
  width: 17rem;
  height: 3.5rem;
  border-radius: 0;
  color: t.$color-blue;
  align-self: center;
}
.btn-reservar:hover{
  border: 2px solid t.$color-orange-light;
  opacity: 100%;
}

#btn-reserva-spa, #btn-comprar-gift{
  background-color: t.$color-blue;
  color: t.$color-white1;
  margin-top: 2rem;
}
// ------- MAP ------
#map{
  display: none;
}
#map img{
  width: 100%;
  object-fit: cover;
  opacity: 80%;
} 
//------ WHATSAPP BTN ------
.whatsapp{
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 70px;
  left: 20px;
  background-color: t.$color-blue;
  border-radius: 50%;
  padding: 0;
}
//------ BOOTSTRAP MIO JEJE ------
.gap-6{
  gap: 4rem;
}
