@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #fdb59f;
}

::-webkit-scrollbar-track-piece {
  background: #0d2136;
}

::-webkit-scrollbar-button {
  background: #0d2136;
}

@media (max-width: 991px) {
  .nav-link {
    color: #333333;
    padding-left: 0.5rem;
  }
  .nav-link.active {
    color: #333333 !important;
    border-left: solid 2px #cd7778;
  }
  .text-hero {
    margin-top: -40%;
    font-size: 0.8rem;
  }
  #btn-reservar {
    margin-top: 2rem;
  }
}
@media (min-width: 992px) {
  .nav-link {
    color: #d7d7d7;
    font-size: 0.8rem;
    margin: 0 1rem;
    letter-spacing: 0.1rem;
  }
  .nav-link.active {
    border-bottom: solid 2px #cd7778;
  }
  .text-hero {
    font-size: 1.3rem;
    margin-top: -300px;
  }
  #btn-reservar {
    margin-top: 5rem;
  }
}
.nav-link:hover {
  color: #fdb59f;
}

.navlink.active.collapsed {
  border: solid 2px #cd7778;
}

.navbar-brand {
  color: #d7d7d7;
  letter-spacing: 0.2rem;
  font-size: 1.4rem;
  padding-left: 1rem;
  font-weight: 600;
}

.navbar-brand:hover {
  color: #d7d7d7;
}

.navbar-collapse {
  margin-left: auto;
}

.offcanvas {
  background-color: #d7d7d7;
  color: black;
}

.navbar-filled {
  background-color: #0d2136;
  color: #d7d7d7;
}

video {
  width: 100%;
  height: auto;
  max-height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  margin: 0;
}

.text-hero {
  font-weight: 700;
  letter-spacing: 0.2rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  color: #d7d7d7;
}

footer {
  background-color: #0d2136;
  margin-top: 5rem;
  padding: 5rem;
  color: #d7d7d7;
}

footer a {
  text-decoration: none;
  color: #d7d7d7;
  margin: 0 0 1rem;
}

footer a:hover {
  color: #fdb59f;
}

#direccion:hover {
  color: #fdb59f;
  cursor: pointer;
}

.name-footer {
  letter-spacing: 0.2rem;
  font-size: 2rem;
  font-weight: 600;
}

.seccion {
  padding: 5rem 0 3rem 0;
  margin: 3rem auto;
}

section p {
  font-size: 0.9rem;
  text-align: justify;
}

.title-section {
  text-align: center;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  margin-bottom: 4rem;
}

.image-wrapper img {
  height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.img-wrapper-3 img {
  height: 150px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#servicios {
  margin-top: 3rem;
}

.title a {
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: #333333;
}

.carta p {
  font-size: 0.8rem;
  text-align: justify;
}

.orange {
  background-color: #fdb59f;
  opacity: 60%;
}

.blue {
  background-color: #0d2136;
  opacity: 20%;
}

.white {
  background-color: #d7d7d7;
}

#remodelacion .modal-content {
  background-color: #0d2136;
  color: #d7d7d7;
  border-radius: 0;
  opacity: 80%;
}

#remodelacion .modal-header {
  border-bottom: none;
}

#remodelacion .modal-header button {
  background-color: #0d2136;
  color: #d7d7d7;
  border: 1px solid #d7d7d7;
  height: 1.6rem;
  width: 1.6rem;
}

#remodelacion .modal-body {
  font-size: 0.9rem;
}

#remodelacion .modal-footer {
  border-top: none;
  justify-content: center;
}

#remodelacion .modal-footer button {
  background-color: #0d2136;
  color: #d7d7d7;
  border: solid 1px #d7d7d7;
  border-radius: 0;
  opacity: 100%;
}

#myModal2 {
  background-color: red;
}

#myModal2 .modal-content {
  background-color: #0d2136;
  color: #d7d7d7;
  border-radius: 0;
  opacity: 90%;
}

#myModal2 .modal-header {
  border-bottom: none;
}

#myModal2 .modal-header button {
  background-color: #0d2136;
  color: #d7d7d7;
  border: 1px solid #d7d7d7;
  height: 1.6rem;
  width: 1.6rem;
}

#myModal2 .modal-footer {
  border-top: none;
  justify-content: center;
}

#myModal2 .modal-footer button {
  background-color: #0d2136;
  color: #d7d7d7;
  border: solid 1px #d7d7d7;
  border-radius: 0;
  opacity: 100%;
}

#myModal2 input {
  background-color: #0d2136;
  color: #d7d7d7;
  border: 1px solid #fdb59f;
  border-radius: 0;
  opacity: 100%;
}

#myModal2 input:focus {
  box-shadow: none;
  border: solid 2px #cd7778;
}

#myModal2 textarea {
  background-color: #0d2136;
  color: #d7d7d7;
  border: 1px solid #fdb59f;
  border-radius: 0;
}

#myModal2 textarea:focus {
  border: 2px solid #cd7778;
  box-shadow: none;
}

.btn-reservar {
  opacity: 90%;
}

.btn-reservar, .btn-reservar:hover {
  background-color: #d7d7d7;
  width: 17rem;
  height: 3.5rem;
  border-radius: 0;
  color: #0d2136;
  align-self: center;
}

.btn-reservar:hover {
  border: 2px solid #fdb59f;
  opacity: 100%;
}

#btn-reserva-spa, #btn-comprar-gift {
  background-color: #0d2136;
  color: #d7d7d7;
  margin-top: 2rem;
}

#map {
  display: none;
}

#map img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 80%;
}

.whatsapp {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 70px;
  left: 20px;
  background-color: #0d2136;
  border-radius: 50%;
  padding: 0;
}

.gap-6 {
  gap: 4rem;
}/*# sourceMappingURL=styles.css.map */